{% include 'template.header.html' %}
<p>
    <ul>
        <li>{{ name }}</li>
        <li>ip: {{ ip }} [{{ mac }}]</li>
        <li>previously seen: {{ previously_seen }}</li>
        <li>first seen: {{ first_seen }}</li>
        {% trans count=recently_seen_count %}
        <li>recently seen {{ recently_seen_count }} time</li>
        {% pluralize %}
        <li>recently seen {{ recently_seen_count }} times</li>
        {% endtrans %}
    </ul>
</p>
<p>
{% trans count=talked_to_count %}
    In the past 24 hours, this device talked to {{ talked_to_count }} device:
{% pluralize %}
    In the past 24 hours, this device talked to {{ talked_to_count }} devices:
{% endtrans %}
    <ul>
    {% for device in talked_to_list %}
        <li>{{ device }}</li>
    {% endfor %}
    </ul>
</p>
{% include 'template.footer.html' %}
