{% extends "template.alert.default.html" %}
{% block intro %}
<P>The following device is no longer active on your network:</P>
{% endblock intro %}
{% block content %}
<P>
    <UL>
        <LI>{{ name }}</LI>
        <LI>ip: {{ ip }} [{{ mac }}]</LI>
	<LI>last seen: {{ last_seen }}</LI>
        {% trans count=recently_seen_count %}
	<LI>recently seen {{ recently_seen_count }} time in {{ time_seen }}</LI>
        {% pluralize %}
	<LI>recently seen {{ recently_seen_count }} times in {{ time_seen }}</LI>
        {% endtrans %}
        <LI>first seen: {{ first_seen }}</LI>
    </UL>
</P>
{% endblock content %}
